.project-hero {
  grid-column: span 3 / span 3;
  padding: 0;
  border-radius: 0.5rem;
  overflow: hidden;
}

.hero-media {
  position: relative;
  height: 320px;
  overflow: hidden;
}

.hero-image {
  object-fit: cover;
  object-position: top center;
  transition: transform 0.3s ease-in-out;
}

.hero-image:hover {
  .hero-caption {
    color: #22d3ee;
  }
}

.hero-caption {
  position: absolute;
  inset: auto 0 0 0;
  color: white;
  padding: 24px;
  background: linear-gradient(
    to top,
    rgba(0, 0, 0, 0.9),
    rgba(0, 0, 0, 0.5),
    transparent
  );
}

.hero-caption:hover {
  color: #22d3ee;
  transition: color 0.3s ease-in-out;
}
